<div class="pricelist grid-item">
  <h3>CREATE NEW SECTOR</h3>
  <form class="example-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <mat-form-field class="example-full-width">
      <input class="sector-elem" matInput placeholder="SECTOR MARK" required name="sectorMark"
        [(ngModel)]="sector.sectorMark">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="sector-elem" matInput placeholder="NUMBER OF ROWS" required name="numOfRows"
        [value]='sector.numOfRows' [(ngModel)]="sector.numOfRows">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="sector-elem" matInput placeholder="NUMBER OF COLUMNS" required name="numOfColumns"
        [value]='sector.numOfColumns' [(ngModel)]="sector.numOfColumns">
    </mat-form-field>

    <button class="create_btn" id="create_btn" type="submit" mat-raised-button>CREATE
      SECTOR</button>
    <button class="close_btn" type="button" mat-raised-button mat-dialog-close>CLOSE </button>

  </form>
</div>
