<header>
  <div class="content">
    <div class="logotip">
      <div class="logo" routerLink=""></div>
      <div class="heading">EVENTS <br> ORGANIZATION</div>
    </div>

    <div class="navigation">
      <ul *ngIf="(showView) == ''">
        <li routerLink="login" id="login">LOGIN </li>
        <li routerLink="register" id="register">REGISTRATION</li>
      </ul>
      <ul *ngIf="(showView) == 'admin'">
        <li>{{ username.toUpperCase() }}</li>
        <li (click)="logout()">LOGOUT</li>
      </ul>
      <ul *ngIf="(showView) == 'visitor'">
        <li>{{ username.toUpperCase() }}</li>
        <li (click)="logout()">LOGOUT</li>
      </ul>
    </div>
  </div>
</header>
