<div class="container">
  <h3>LOCATIONS</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="head" scope="col">NAME</th>
        <th class="head" scope="col">STREET NAME</th>
        <th class="head" scope="col">NUMBER</th>
        <th class="head" scope="col">CITY</th>
        <th class="head" scope="col">ZIP CODE</th>
        <th class="head" scope="col">COUNTRY</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations; let i = index">
        <td>{{location.name}}</td>
        <td>{{location.streetName}}</td>
        <td>{{location.number}}</td>
        <td>{{location.city}}</td>
        <td>{{location.zipCode}}</td>
        <td>{{location.country}}</td>
        <td id="delete">
          <button mat-raised-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      <mat-divider></mat-divider>
  </table>
</div>
