.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  padding: 10px;
  margin: 0;
  height: 50px;
  text-align: center;
  color: #fff;
  background-color: rgb(31, 31, 31);
}

table {
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}

button:hover {
  background-color: rgb(31, 31, 31);
  color: #fff;
}
