<div class="pricelist grid-item">
  <h3>CREATE NEW LOCATION</h3>
  <form class="example-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <mat-form-field class="example-full-width">
      <input class="location-elem" matInput placeholder="LOCATION NAME" required name="name"
        [(ngModel)]="location.name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="location-elem" matInput placeholder="STREET NAME" required name="streetName"
        [value]='location.streetName' [(ngModel)]="location.streetName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="location-elem" matInput placeholder="STREET NUMBER" required name="number" [value]='location.number'
        [(ngModel)]="location.number">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="location-elem" matInput placeholder="CITY" required name="city" [value]='location.city'
        [(ngModel)]="location.city">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="location-elem" matInput placeholder="ZIP CODE" required name="zipCode" [value]='location.zipCode'
        [(ngModel)]="location.zipCode">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="location-elem" matInput placeholder="COUNTRY" required name="country" [value]='location.country'
        [(ngModel)]="location.country">
    </mat-form-field>

    <button class="create_btn" id="create_btn" type="submit" mat-raised-button>CREATE
      LOCATION</button>
    <button class="close_btn" type="button" mat-raised-button mat-dialog-close>CLOSE </button>

  </form>
</div>
